#slider_pack_sidebar{
    width:100%;
    background:rgba(0,0,0,0.05);
}
.slider_price{
    font-size:30px;
    text-align:center;
    display:block;
    margin-bottom:5px;
}
.slider_item{
    padding:5px;
    width:300px;
    float:left;
    text-align:center;
    box-shadow:0 0 1px rgba(0,0,0,0.3) inset;
}
.slider_item img{
   margin:10px auto;
   clear:both;
}
.slider_item h4{
    font-size:16px;
    font.family:Open Sans;
}
.std_button {
    background-color: #CCCCCC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(255, 255, 255, 0.5) inset;
    clear: both;
    color: rgba(0,0,0,0.5);
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    padding: 10px 20px;
}
.std_button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(255, 255, 255, 0.6) inset;
    color: rgba(0, 0, 0, 0.5) !important;
}
.std_button:active {
    box-shadow: none;
} 