/*
Plugin Name: Map Creator
Description: Plugin per la creazione di mappe interattive in HTML e CSS3
Version: 1.0
Author: Francesco D'Ambrosio
 */
 
/*
     FILE ARCHIVED ON 23:18:47 Nov 06, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:26:35 Apr 07, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 69.699
  exclusion.robots: 0.119
  exclusion.robots.policy: 0.1
  RedisCDXSource: 0.876
  esindex: 0.01
  LoadShardBlock: 40.692 (3)
  PetaboxLoader3.datanode: 63.767 (5)
  load_resource: 100.401 (2)
  PetaboxLoader3.resolve: 73.157 (2)
*/